@{
    ViewBag.Title = "Bem-vindo ao Projeto";
}

<main class="container mt-5">
    <section class="text-center">
        <h1 class="display-4">Bem-vindo ao Projeto!</h1>
        <p class="lead">Este é um teste para a função sistemas, desenvolvido utilizando .NET Framework 4.8.</p>
        <p class="mb-4">Para utilizar a aplicação, basta clicar na aba <strong>'Clientes'</strong> e realizar os testes.</p>
        <p class="lead">Aproveite a experiência e explore as funcionalidades da aplicação!</p>
    </section>
</main>
